name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  dependances:
    runs-on: ubuntu-latest
    steps:
      - run: npm install

  lint:
    runs-on: ubuntu-latest
    needs: dependances
    steps:
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - run: npm test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - run: npm run build

