name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v3 

      - name: Setup Node 
        uses: actions/setup-node@v3 
        with: 
          node-version: '20'
      - run: npm install

  lint:
    runs-on: ubuntu-latest
    needs: dependances
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v3 

      - name: Setup Node 
        uses: actions/setup-node@v3 
        with: 
          node-version: '20'
      - run: npm install
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v3 

      - name: Setup Node 
        uses: actions/setup-node@v3 
        with: 
          node-version: '20'
      - run: npm test

  build:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repo 
        uses: actions/checkout@v3 

      - name: Setup Node 
        uses: actions/setup-node@v3 
        with: 
          node-version: '20'
      - run: npm run build

