  name: CI

  on:
    push:
      branches: [ main ]
    pull_request:
      branches: [ main ]

  jobs:
    dependances:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo 
          uses: actions/checkout@v4

        - name: Setup Node and CACHE 
          uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: backend/package-lock.json
        
        - name: Install backend dependencies
          working-directory: ./backend
          run: npm ci

        - name: Save node_modules to cache 
          uses: actions/cache@v3
          id: node-cache
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: node-modules-


    lint:
      runs-on: ubuntu-latest
      needs: dependances
      steps:
        - name: Checkout repo 
          uses: actions/checkout@v4

        - name: Setup Node 
          uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: backend/package-lock.json

        - name: Restore node_modules cache
          uses: actions/cache@v3
          id: node-cache-lint
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: |
              node-modules-

        - name: Install if cache missed (pour la sécurité)
          working-directory: ./backend
          if: steps.node-cache-lint.outputs.cache-hit != 'true'
          run: npm ci

        - name : "define working directory "
          working-directory: ./backend
          run: npm run lint

    test:
      runs-on: ubuntu-latest
      needs: lint
      steps:
        - name: Checkout repo 
          uses: actions/checkout@v4

        - name: Setup Node 
          uses: actions/setup-node@v4 
          with: 
            node-version: '20'
            cache: 'npm'
            cache-dependency-path: backend/package-lock.json

        - name: Restore node_modules cache
          uses: actions/cache@v3
          id: node-cache-test
          with:
            path: backend/node_modules
            key: node-modules-${{ github.sha }}-${{ github.run_id }}
            restore-keys: |
              node-modules-

        - name: Install if cache missed (pour la sécurité)
          working-directory: ./backend
          if: steps.node-cache-test.outputs.cache-hit != 'true'
          run: npm ci
              
        - name : "define working directory "
          working-directory: ./backend
          run: npm run test

    docker-build:
      runs-on: ubuntu-latest
      needs: test
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        
        - name: Build Docker image
          run: |
            # Création de l'image
            cd backend
            docker build -t ci-training:${{ github.sha }} .

        - name: Save Docker image as artefact
          run: docker save ci-training:${{ github.sha }} | gzip > image.tar.gz
      
        - name: Upload Docker image artefact
          uses: actions/upload-artifact@v4
          with:
            name: docker-image 
            path: image.tar.gz
            retention-days: 2

    render-health-check:
      runs-on: ubuntu-latest
      needs: docker-build
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      
      steps:        
        - name: Vérifier l'application déployée
          run: |
            RENDER_URL="https://ci-training-app.onrender.com"
            sleep 10
            # HEALTH
            if curl -s -f "$RENDER_URL/health" > /dev/null; then
              echo "L'application est en ligne sur Render !"
              echo " URL: $RENDER_URL"
            else
              echo "L'application ne répond pas encore"
              echo "Vérifie les logs sur Render dashboard"
            fi
            

